{% extends 'base.html.twig' %}

{% block body %}
<html>
    <body>



    <div class="explication" style="margin-bottom: 250px;">
        <h2 class="explicationTitre">Pourquoi s'inscrire sur Pré de chez vous?</h2>
        <div class="col-1-expl">
            <img  style="width: 90%; overflow: hidden; background-color: #0c5460; text-align: center;" src="{{app.request.basepath}}/directory/img/ferme.jpg" alt="ferme" />
            <h5>Circuit-court/0 intermédiaire</h5>
            <p>Contrairement aux produits vendus en supermarché, sur Pré de chez vous, le prix
                est fixé par le producteur et 97% des bénéfices lui sont reversés. Les 3% seront
                utilisés au bon fonctionnement du site.</p>
        </div>
        <div class="col-2-expl">
            <img  style="width: 90%; overflow: hidden; background-color: #0c5460; text-align: center;" src="{{app.request.basepath}}/directory/img/ferme2.jpg" alt="ferme" />
            <h5>Court-circuit/Produits locaux</h5>
            <p>Le second but de ce e-shop est d'éviter de consommer qui aurait parcourus plus
                de kilométres que ce que l'on parcourt lors de nos vacances, et ainsi éviter toutes polution
                superflues. De plus, les produits sont donc cueillis au bon moment et vous sont livrés plus frais
                pour que vous puissiez découvrir un goût plus authentique.</p>
        </div>
        <div class="col-3-expl">
            <img  style="width: 90%; overflow: hidden; background-color: #0c5460; text-align: center;" src="{{app.request.basepath}}/directory/img/ferme3.jpeg" alt="ferme" />
            <h5>Zéro Déchet</h5>
            <p>Le troisième des principes du site est d'éviter le suremballage inutile.
                Un produit frais et livré rapidement n'a pas besoin d'être emballé de façon optimale.
                Donc, ensemble, évitons le plastique inutile pour proteger notre planete et nos océans.
                Le zéro déchet est un mode de vie beaucoup plus interessant à long therme.</p>
            <br>
        </div>
    </div>



    </body>
</html>

{% endblock %}
{% block footer %}
    <footer style="background-color: #931969; width: 100%; color: white; padding: 15px 0; margin-top: 300px; bottom: 0">
        <p>&copy;Pré de chez vous</p>
        <p>Contact: <a href="mailto:pdcv@gmail.com" style="color:lightgray;">pdcv@gmail.com</a> / <a href="{{ path('condition') }}" style="color:lightgray;">Conditions générales</a> </p>
    </footer>
{% endblock %}