{% extends 'base.html.twig' %}

{% block body %}
<html>
    <body style="text-align: left">
        <div style="text-align: left; padding:30px 200px">
            <h3 style="text-align: center; margin-bottom:60px"><b>Conditions générales</b></h3>


            <h2>Articles 1 - definitions</h2>
            <p>Dans les pr&eacute;sentes conditions g&eacute;n&eacute;rales, il est entendu par&nbsp;:</p>
            <ol>
                <li><strong>Commer&ccedil;ant</strong>&nbsp;: la personne physique ou morale qui est membre de BeCommerce et qui propose des produits et/ou services &agrave; distance, &agrave; destination des consommateurs&nbsp;;</li>
                <li><strong>C</strong><strong>on</strong><strong>sommateur</strong>&nbsp;: la personne physique qui n&acute;agit pas dans le cadre d&acute;une profession ou d&acute;une entreprise et qui conclut un contrat &agrave; distance avec le commer&ccedil;ant&nbsp;;</li>
                <li><strong>Contrat &agrave; distance</strong>&nbsp;: un contrat pour lequel, dans le cadre d&acute;un syst&egrave;me de vente &agrave; distance de produits et/ou de services organis&eacute; par le commer&ccedil;ant et jusqu&rsquo;&agrave; l&acute;expiration du contrat, il est exclusivement fait usage d&acute;une ou de plusieurs techniques de communication &agrave; distance&nbsp;;</li>
                <li><strong>Technique de communication &agrave; distance</strong>&nbsp;: moyen qui peut &ecirc;tre utilis&eacute; pour conclure un contrat sans que le consommateur et le commer&ccedil;ant ne soient r&eacute;unis dans m&ecirc;me pi&egrave;ce&nbsp;;</li>
                <li><strong>D&eacute;lai de r&eacute;flexion</strong>&nbsp;: la p&eacute;riode durant laquelle le consommateur peut faire usage de son droit de r&eacute;tractation&nbsp;;</li>
                <li><strong>Droit de r&eacute;tractation</strong>&nbsp;: la possibilit&eacute; dont dispose le consommateur de renoncer au contrat &agrave; distance durant le d&eacute;lai de r&eacute;flexion&nbsp;;</li>
                <li><strong>Jour</strong>&nbsp;: jour civil&nbsp;;</li>
                <li><strong>Transaction &agrave; ex&eacute;cution successive</strong>&nbsp;: un contrat &agrave; distance portant sur une s&eacute;rie de produits et/ou de services dont l&acute;engagement de livraison et/ou d&acute;achat est &eacute;chelonn&eacute; dans le temps&nbsp;;</li>
                <li><strong>Support d&acute;informations durable</strong>&nbsp;: tout moyen qui met le consommateur ou le commer&ccedil;ant en mesure d&rsquo;enregistrer les informations le concernant personnellement d&acute;une mani&egrave;re qui permette la consultation ult&eacute;rieure et la reproduction des informations enregistr&eacute;es telles quelles.</li>
            </ol>
            <h2><strong>Article&nbsp;</strong><strong>2 &ndash; Identit&eacute; du commer&ccedil;ant</strong></h2>
            <p>[Nom du commer&ccedil;ant] (d&eacute;nomination statutaire, &eacute;ventuellement compl&eacute;t&eacute;e de la d&eacute;nomination commerciale)<br />[Adresse de l&rsquo;&eacute;tablissement]<br />[Adresse de visite, si celle-ci diff&egrave;re de l&rsquo;adresse de l&rsquo;&eacute;tablissement]<br />Num&eacute;ro de t&eacute;l&eacute;phone&nbsp;: &nbsp;&nbsp;&nbsp; [moment(s) au(x)quel(s) le commer&ccedil;ant est joignable par t&eacute;l&eacute;phone]<br />Adresse e-mail&nbsp;:<br />Num&eacute;ro d&rsquo;identification &agrave; la TVA&nbsp;:&nbsp;</p>
            <p>Si l&rsquo;activit&eacute; du commer&ccedil;ant est soumise &agrave; un syst&egrave;me d&rsquo;autorisation pertinent&nbsp;:</p>
            <ul>
                <li>les donn&eacute;es relatives &agrave; l&rsquo;autorit&eacute; de surveillance&nbsp;;</li>
            </ul>
            <p>&nbsp;</p>
            <p>Si le commer&ccedil;ant exerce une profession r&eacute;glement&eacute;e&nbsp;:</p>
            <ul>
                <li>l&rsquo;association ou l&rsquo;organisation professionnelle dont il est membre&nbsp;;</li>
                <li>le titre professionnel ainsi que le lieu dans l&rsquo;UE ou dans l&rsquo;Espace &eacute;conomique europ&eacute;en o&ugrave; ce titre a &eacute;t&eacute; d&eacute;livr&eacute;&nbsp;;</li>
                <li>un renvoi aux r&egrave;glementations professionnelles qui sont applicables en Belgique et des indications concernant le lieu o&ugrave; ces r&egrave;glementations professionnelles sont accessibles, ainsi que la mani&egrave;re d&rsquo;y acc&eacute;der.</li>
            </ul>
            <h2><strong>Article&nbsp;</strong><strong>3 &ndash; Champs d&rsquo;application</strong></h2>
            <ol>
                <li>Les pr&eacute;sentes conditions g&eacute;n&eacute;rales s&acute;appliquent &agrave; toute offre faite par le commer&ccedil;ant et &agrave; tout contrat &agrave; distance conclu entre le commer&ccedil;ant et le consommateur.</li>
                <li>Avant que le contrat &agrave; distance ne soit conclu, le texte des pr&eacute;sentes conditions g&eacute;n&eacute;rales sera port&eacute; &agrave; la connaissance du consommateur. Si cela s&acute;av&eacute;rait raisonnablement impossible, il sera indiqu&eacute;, avant que le contrat de vente &agrave; distance soit conclu, que les pr&eacute;sentes conditions g&eacute;n&eacute;rales peuvent &ecirc;tre consult&eacute;es chez le commer&ccedil;ant et que, &agrave; la demande du consommateur, celles-ci lui seront envoy&eacute;es sans frais et dans les plus brefs d&eacute;lais.</li>
                <li>Si le contrat &agrave; distance est conclu par voie &eacute;lectronique, le texte des pr&eacute;sentes conditions g&eacute;n&eacute;rales peut, en d&eacute;rogation aux dispositions du pr&eacute;c&eacute;dent alin&eacute;a et avant que le contrat &agrave; distance ne soit conclu, &ecirc;tre mis &agrave; la disposition du consommateur par voie &eacute;lectronique de telle sorte que le consommateur puisse le sauvegarder simplement sur un support d&acute;informations durable. Si cela s&acute;av&eacute;rait raisonnablement impossible, il sera indiqu&eacute;, avant que le contrat &agrave; distance ne soit conclu, o&ugrave; il est possible de prendre connaissance des pr&eacute;sentes conditions g&eacute;n&eacute;rales par voie &eacute;lectronique et qu&acute;il est possible, &agrave; la demande du consommateur, de lui faire parvenir gratuitement lesdites conditions par voie &eacute;lectronique ou par tout autre voie.</li>
                <li>Dans l&rsquo;&eacute;ventualit&eacute; o&ugrave;, outre les pr&eacute;sentes conditions g&eacute;n&eacute;rales, des conditions sp&eacute;cifiques li&eacute;es aux produits ou aux services seraient applicables, les deuxi&egrave;me et troisi&egrave;me alin&eacute;as sont applicables par analogie et, en cas de conditions g&eacute;n&eacute;rales contraires, le consommateur peut toujours s&rsquo;appuyer sur la disposition applicable qui lui est la plus favorable.&nbsp;</li>
            </ol>
            <h2><strong>Article&nbsp;</strong><strong>4 &ndash; L&rsquo;offre</strong></h2>
            <ol>
                <li>Si une offre s&acute;accompagne d&acute;une dur&eacute;e de validit&eacute; limit&eacute;e ou est assortie de conditions, cela sera indiqu&eacute; explicitement dans l&acute;offre.</li>
                <li>L&acute;offre comprend une description compl&egrave;te et pr&eacute;cise des produits et/ou des services propos&eacute;s. La description est suffisamment d&eacute;taill&eacute;e pour qu&rsquo;il soit possible au consommateur de faire une &eacute;valuation correcte de l&rsquo;offre. Si le commer&ccedil;ant fait usage d&acute;illustrations, celles-ci doivent &ecirc;tre une repr&eacute;sentation fid&egrave;le des produits et/ou des services propos&eacute;s. Les erreurs ou fautes manifestes contenues dans l&acute;offre n&acute;engagent en rien la responsabilit&eacute; du commer&ccedil;ant.</li>
                <li>Toute offre contient des informations propos&eacute;es de telle fa&ccedil;on que le consommateur comprenne clairement ce que sont ses droits et obligations qui sont li&eacute;s &agrave; l&rsquo;acceptation de l&rsquo;offre. Il s&rsquo;agit en particulier&nbsp;:</li>
            </ol>
            <ul>
                <ul>
                    <li>du prix, toutes taxes comprises&nbsp;;</li>
                    <li>des frais de livraison &eacute;ventuels&nbsp;;</li>
                    <li>de la mani&egrave;re dont se formera le contrat et des actes n&eacute;cessaires &agrave; cet effet&nbsp;;</li>
                    <li>de l&acute;applicabilit&eacute; ou non du droit de r&eacute;tractation&nbsp;;</li>
                    <li>du mode de paiement, de livraison ou d&acute;ex&eacute;cution du contrat&nbsp;;</li>
                    <li>du d&eacute;lai d&acute;acceptation de l&acute;offre ou du d&eacute;lai de maintien du prix&nbsp;;</li>
                    <li>du tarif pour la communication &agrave; distance si les co&ucirc;ts d&rsquo;utilisation de la technique de communication &agrave; distance sont calcul&eacute;s sur une autre base que celle du tarif de base&nbsp;;</li>
                    <li>si le contrat est archiv&eacute; apr&egrave;s sa formation, de la mani&egrave;re dont le consommateur pourra le consulter&nbsp;;</li>
                    <li>de la mani&egrave;re dont le consommateur peut s&rsquo;informer des actes qu&rsquo;il ne souhaite pas avant de conclure le contrat, ainsi que de la mani&egrave;re dont il peut les rectifier avant que le contrat ne soit form&eacute;&nbsp;;</li>
                    <li>des langues &eacute;ventuelles dans lesquelles, outre le fran&ccedil;ais, le contrat peut &ecirc;tre conclu&nbsp;;</li>
                    <li>des codes de conduite que le commer&ccedil;ant s&rsquo;est engag&eacute; &agrave; respecter et de la mani&egrave;re dont le consommateur peut consulter ces codes de conduite par voie &eacute;lectronique&nbsp;; et</li>
                    <li>de la dur&eacute;e minimale du contrat de vente &agrave; distance dans le cas d&rsquo;un contrat qui couvre une livraison ou une prestation permanente ou p&eacute;riodique de produits ou de services.&nbsp;</li>
                </ul>
            </ul>
            <h2><strong>Article&nbsp;</strong><strong>5 - Le contrat</strong></h2>
            <ol>
                <li>Le contrat est form&eacute;, sous r&eacute;serve des dispositions de l&acute;alin&eacute;a 4, au moment o&ugrave; le consommateur accepte l&acute;offre et accepte de remplir les conditions qui y sont assorties.</li>
                <li>Si le consommateur a accept&eacute; l&acute;offre par voie &eacute;lectronique, le commer&ccedil;ant accuse imm&eacute;diatement r&eacute;ception, par voie &eacute;lectronique, de l&acute;acceptation de l&acute;offre. Tant que la r&eacute;ception de cette acceptation n&rsquo;a pas &eacute;t&eacute; confirm&eacute;e, le consommateur peut r&eacute;silier le contrat.</li>
                <li>Si le contrat est form&eacute; par voie &eacute;lectronique, le commer&ccedil;ant prend les dispositions appropri&eacute;es au niveau technique et organisationnel afin de s&eacute;curiser le transfert &eacute;lectronique des donn&eacute;es et se charge de mettre &agrave; disposition un environnement Internet s&eacute;curis&eacute;. Si le consommateur paie par voie &eacute;lectronique, le commer&ccedil;ant veillera &agrave; prendre les mesures de s&eacute;curit&eacute; appropri&eacute;es &agrave; cet effet.</li>
                <li>Le commer&ccedil;ant communiquera au consommateur, avec le produit ou le service, les informations suivantes, par &eacute;crit ou de mani&egrave;re &agrave; ce que celles-ci puissent &ecirc;tre accessibles au consommateur et &ecirc;tre stock&eacute;es sur un support d&acute;informations durable&nbsp;:</li>
                <ol>
                    <li>l&rsquo;adresse de visite de l&rsquo;&eacute;tablissement du commer&ccedil;ant o&ugrave; le consommateur peut adresser des r&eacute;clamations&nbsp;;</li>
                    <li>les conditions sous lesquelles le consommateur peut faire usage du droit de r&eacute;tractation et la mani&egrave;re suivant laquelle le consommateur peut le faire, ou bien un avis clair informant de l&acute;exclusion du droit de r&eacute;tractation&nbsp;;</li>
                    <li>les informations concernant le service apr&egrave;s-vente existant et les garanties&nbsp;;</li>
                    <li>les informations vis&eacute;es &agrave; l&acute;article 4 alin&eacute;a 3 des pr&eacute;sentes conditions g&eacute;n&eacute;rales, sauf si le commer&ccedil;ant a d&eacute;j&agrave; fourni ces informations au consommateur avant l&acute;ex&eacute;cution du contrat&nbsp;;</li>
                    <li>les conditions de r&eacute;siliation du contrat si le contrat a une dur&eacute;e sup&eacute;rieure &agrave; un an ou est &agrave; dur&eacute;e ind&eacute;termin&eacute;e.</li>
                </ol>
                <li>Si le commer&ccedil;ant s&acute;est engag&eacute; &agrave; livrer une s&eacute;rie de produits ou de services, les dispositions de l&acute;alin&eacute;a pr&eacute;c&eacute;dent ne sont applicables qu&acute;&agrave; la premi&egrave;re livraison.</li>
            </ol>
            <h2><strong>Article&nbsp;</strong><strong>6</strong><strong>a - Droit de r&eacute;tractation lors de la livraison de produits</strong></h2>
            <ol>
                <li>Lors de l&acute;achat de produits, le consommateur a la possibilit&eacute; de r&eacute;silier le contrat sans indiquer de motif et ce durant un d&eacute;lai de quatorze jours. Ce d&eacute;lai commence &agrave; courir le jour o&ugrave; le produit est r&eacute;ceptionn&eacute; par le consommateur ou en son nom.</li>
                <li>Pendant ce d&eacute;lai, le consommateur devra manipuler le produit et l&acute;emballage avec soin. Le consommateur devra d&eacute;baller ou utiliser le produit uniquement dans la mesure o&ugrave; cela est n&eacute;cessaire pour pouvoir juger s&rsquo;il souhaite ou non conserver le produit. Si le consommateur fait usage de son droit de r&eacute;tractation, il devra retourner au commer&ccedil;ant le produit ainsi que tous les accessoires livr&eacute;s simultan&eacute;ment et &ndash; si cela est raisonnablement possible &ndash; dans leur &eacute;tat et emballage d&acute;origine, conform&eacute;ment aux instructions ad&eacute;quates et claires fournies par le commer&ccedil;ant.&nbsp;</li>
            </ol>
            <h2><strong>Article&nbsp;</strong><strong>6</strong><strong>b - Droit de r&eacute;tractation lors de la prestation de service</strong></h2>
            <ol>
                <li>Lors de la prestation des services, le consommateur a la possibilit&eacute; de r&eacute;silier le contrat sans indiquer de motif, et ce durant un d&eacute;lai de quatorze jours. Ce d&eacute;lai commence &agrave; courir le jour o&ugrave; le contrat est conclu.</li>
                <li>Afin de faire usage de son droit de r&eacute;tractation, le consommateur se r&eacute;f&eacute;rera aux instructions claires et raisonnables communiqu&eacute;es &agrave; cet effet par le commer&ccedil;ant lors de l&rsquo;offre et/ou, au plus tard, lors de la prestation.</li>
            </ol>
            <h2><strong>Article&nbsp;</strong><strong>7 &ndash; Frais en cas de r&eacute;tractation</strong></h2>
            <ol>
                <li>Si le consommateur fait usage de son droit de r&eacute;tractation, il doit prendre en charge les frais qui ne peuvent pas d&eacute;passer le montant de la r&eacute;exp&eacute;dition.</li>
                <li>Si le consommateur a pay&eacute; un montant, le commer&ccedil;ant lui remboursera ce montant dans les plus brefs d&eacute;lais et, au plus tard, dans les 30 jours qui suivent la r&eacute;exp&eacute;dition ou la r&eacute;tractation.&nbsp;</li>
            </ol>
            <h2><strong>Article&nbsp;</strong><strong>8 &ndash; Exclusion du droit de r&eacute;tractation</strong></h2>
            <ol>
                <li>Si le consommateur ne dispose pas d&acute;un droit de r&eacute;tractation, le commer&ccedil;ant peut exclure ce droit uniquement dans le cas o&ugrave; il l&rsquo;a clairement mentionn&eacute; dans l&rsquo;offre, et &agrave; tout le moins avant la conclusion du contrat.</li>
                <li>L&rsquo;exclusion du droit de r&eacute;tractation est possible uniquement pour les produits&nbsp;:</li>
                <ol>
                    <li>qui ont &eacute;t&eacute; r&eacute;alis&eacute;s par le commer&ccedil;ant conform&eacute;ment aux instructions du consommateur&nbsp;;</li>
                    <li>qui sont clairement de nature personnelle&nbsp;;</li>
                    <li>qui, en raison de leur nature, ne peuvent &ecirc;tre retourn&eacute;s&nbsp;;</li>
                    <li>qui sont rapidement p&eacute;rissables ou obsol&egrave;tes&nbsp;;</li>
                    <li>dont le prix est li&eacute; &agrave; des fluctuations sur le march&eacute; financier sur lesquelles le commer&ccedil;ant n&rsquo;a aucune influence&nbsp;;</li>
                    <li>pour les journaux et p&eacute;riodiques vendus au num&eacute;ro&nbsp;;</li>
                    <li>pour les enregistrements audio et vid&eacute;o et pour les logiciels informatiques dont le consommateur a bris&eacute; le cachet.</li>
                </ol>
                <li>L&rsquo;exclusion du droit de r&eacute;tractation est possible uniquement pour les services&nbsp;:</li>
                <ol>
                    <li>impliquant le g&icirc;te, le transport, la restauration ou le divertissement pour lesquels une certaine date ou une certaine p&eacute;riode ont &eacute;t&eacute; convenues&nbsp;;</li>
                    <li>dont la prestation a d&eacute;but&eacute; avec le consentement expr&egrave;s du consommateur avant que le d&eacute;lai de r&eacute;flexion ait expir&eacute;&nbsp;;</li>
                    <li>impliquant les paris et les jeux de la loterie.</li>
                </ol></ol>
            <h2><strong>Article&nbsp;</strong><strong>9 &ndash; Le prix</strong></h2>
            <ol>
                <li>Durant la p&eacute;riode de validit&eacute; indiqu&eacute;e dans l&acute;offre, les prix des produits et/ou des services propos&eacute;s ne seront pas major&eacute;s, &agrave; l&acute;exception des modifications de prix cons&eacute;cutives &agrave; des &eacute;volutions des taux de TVA.</li>
                <li>En d&eacute;rogation aux dispositions du pr&eacute;c&eacute;dent alin&eacute;a, le commer&ccedil;ant peut proposer &agrave; des prix variables les produits ou services dont le prix est li&eacute; &agrave; des fluctuations sur le march&eacute; financier sur lesquelles le commer&ccedil;ant n&rsquo;a aucune influence. Cet assujettissement aux fluctuations du march&eacute; et le fait que les prix mentionn&eacute;s soient &eacute;ventuellement des prix indicatifs, seront mentionn&eacute;s dans l&rsquo;offre.</li>
                <li>Les majorations de prix dans un d&eacute;lai de 3 mois apr&egrave;s la formation du contrat sont autoris&eacute;es uniquement dans le cas o&ugrave; celles-ci sont la cons&eacute;quence de prescriptions ou de dispositions l&eacute;gales.</li>
                <li>Les majorations de prix intervenant dans un d&eacute;lai de 3 mois &agrave; compter de la formation du contrat sont&nbsp;uniquement autoris&eacute;es dans le cas o&ugrave; le commer&ccedil;ant l&rsquo;a stipul&eacute; et&nbsp;:</li>
                <ol>
                    <li>si celles-ci sont la cons&eacute;quence de prescriptions ou de dispositions l&eacute;gales&nbsp;; ou</li>
                    <li>si le consommateur a la possibilit&eacute; de r&eacute;silier le contrat le jour o&ugrave; la majoration des prix prend cours.</li>
                </ol>
                <li>Les prix dans l&rsquo;offre de produits ou de services sont indiqu&eacute;s avec TVA.</li>
            </ol>
            <h2><strong>Article&nbsp;</strong><strong>1</strong><strong>0 &ndash; Conformit&eacute; et garantie</strong></h2>
            <ol>
                <li>Le commer&ccedil;ant s&acute;engage &agrave; ce que les produits et/ou services soient conformes au contrat, aux sp&eacute;cifications indiqu&eacute;es dans l&acute;offre, aux exigences raisonnables de qualit&eacute; et/ou de facilit&eacute; d&acute;utilisation et aux dispositions l&eacute;gales et/ou aux prescriptions gouvernementales en vigueur &agrave; la date de la formation du contrat.</li>
                <li>Un syst&egrave;me de garantie propos&eacute; par le commer&ccedil;ant, le fabricant ou l&acute;importateur ne porte pas pr&eacute;judice aux droits et r&eacute;clamations auxquels le consommateur peut pr&eacute;tendre vis-&agrave;-vis du commer&ccedil;ant, en vertu de la loi et/ou du contrat &agrave; distance, &agrave; l&acute;&eacute;gard d&acute;un manquement dans l&acute;ex&eacute;cution des obligations qui incombent au commer&ccedil;ant.&nbsp;</li>
            </ol>
            <h2><strong>Article&nbsp;</strong><strong>1</strong><strong>1 &ndash; Livraison et ex&eacute;cution</strong></h2>
            <ol>
                <li>Le commer&ccedil;ant apportera le plus grand soin possible &agrave; la r&eacute;ception et &agrave; l&acute;ex&eacute;cution des commandes de produits et &agrave; l&rsquo;&eacute;valuation des demandes de prestation de services.</li>
                <li>Le lieu de livraison est r&eacute;put&eacute; &ecirc;tre l&acute;adresse que le consommateur a communiqu&eacute;e au commer&ccedil;ant.</li>
                <li>Dans le respect de ce qui est stipul&eacute; &agrave; cet effet dans l&acute;article 4 des pr&eacute;sentes conditions g&eacute;n&eacute;rales, l&rsquo;entreprise ex&eacute;cutera les commandes accept&eacute;es avec c&eacute;l&eacute;rit&eacute; et au plus tard dans un d&eacute;lai de 30 jours &agrave; moins qu&rsquo;un d&eacute;lai de livraison plus long ait &eacute;t&eacute; convenu. Si la livraison subit un retard, ou si une commande ne peut pas &ecirc;tre ex&eacute;cut&eacute;e ou peut seulement &ecirc;tre ex&eacute;cut&eacute;e partiellement, le consommateur en sera inform&eacute; au plus tard un mois &agrave; compter de la date &agrave; laquelle il a pass&eacute; la commande.&nbsp;Le consommateur a donc le droit de terminer le contract et de demander un produit &eacute;quivalent o&ugrave; de demander une compensation.&nbsp;</li>
                <li>Dans le cas d&acute;une r&eacute;siliation selon le pr&eacute;c&eacute;dent alin&eacute;a, le commer&ccedil;ant restituera le montant que le consommateur a r&eacute;gl&eacute;, dans les meilleurs d&eacute;lais et au plus tard dans un d&eacute;lai de 30 jours &agrave; compter de la r&eacute;siliation.</li>
                <li>Si la livraison d&rsquo;un produit command&eacute; s&rsquo;av&egrave;re impossible, le commer&ccedil;ant s&rsquo;efforcera de mettre &agrave; disposition un article de remplacement. Il sera mentionn&eacute; de fa&ccedil;on claire et compr&eacute;hensible, au plus tard au moment de la fourniture, qu&rsquo;un produit de remplacement sera livr&eacute;. Le consommateur peut renvoyer un article de remplacement. En cas d&rsquo;articles de remplacement, le droit de r&eacute;tractation ne peut &ecirc;tre exclu. Les frais de retour sont &agrave; la charge du commer&ccedil;ant.</li>
                <li>Sauf convention contraire expresse, le risque d&acute;endommagement et/ou de disparition des produits est port&eacute; &agrave; la charge du commer&ccedil;ant jusqu&acute;au moment o&ugrave; les produits sont livr&eacute;s au consommateur.&nbsp;</li>
            </ol>
            <h2><strong>Article&nbsp;</strong><strong>1</strong><strong>2 &ndash; Transactions &agrave; ex&eacute;cution successive</strong></h2>
            <ol>
                <li>Le consommateur peut r&eacute;silier &agrave; tout moment un contrat conclu pour une dur&eacute;e ind&eacute;termin&eacute;e moyennant le respect des r&egrave;gles de r&eacute;siliation convenues &agrave; cet &eacute;gard et d&rsquo;un d&eacute;lai de pr&eacute;avis de maximum un mois.</li>
                <li>Un contrat qui a &eacute;t&eacute; conclu pour une dur&eacute;e d&eacute;termin&eacute;e a une dur&eacute;e de deux ans maximum.</li>
            </ol>
            <p>S&rsquo;il a &eacute;t&eacute; convenu que le contrat de vente &agrave; distance sera prolong&eacute; dans le cas o&ugrave; le consommateur n&rsquo;a pas notifi&eacute; son opposition &agrave; ce prolongement, le contrat se poursuivra comme un contrat &agrave; dur&eacute;e ind&eacute;termin&eacute;e et le d&eacute;lai de pr&eacute;avis, apr&egrave;s la prolongation du contrat, sera d&rsquo;un mois au maximum.&nbsp;</p>
            <h2><strong>Article&nbsp;</strong><strong>1</strong><strong>3 - Paiement</strong></h2>
            <ol>
                <li>Le paiement revient &agrave; &ecirc;tre pay&eacute; dans les quatorze jours apr&egrave;s la livraison des marchandises ou, dans le cas d'un contrat de service, dans les 14 jours suivant l&rsquo;obtention des documents relatifs &agrave; ce sujet. Lors de la vente de produits aux consommateurs un paiement partiel ou total est pr&eacute;vu dans les conditions g&eacute;n&eacute;rales (droit de r&eacute;tractation). Si le paiement anticip&eacute; est accept&eacute;, le consommateur ne peut faire valoir aucun droit concernant l'ex&eacute;cution de l'ordre ou service (s), avant que le paiement anticip&eacute; ait &eacute;t&eacute; effectu&eacute;. Le consommateur a le devoir d&rsquo;avertir imm&eacute;diatement l&rsquo;entrepreneur d'inexactitudes dans le paiement fourni ou dans les sp&eacute;cifications. En cas de d&eacute;faut de paiement par le consommateur, l'entrepreneur, soumis &agrave; des restrictions l&eacute;gales, a le droit de charger des co&ucirc;ts raisonnables qui avait &eacute;t&eacute; sp&eacute;cifi&eacute; au consommateur auparavant.</li>
            </ol>
            <h2><strong>Article&nbsp;</strong><strong>1</strong><strong>4 &ndash; Traitement des r&eacute;clamations</strong></h2>
            <ol>
                <li>Le commer&ccedil;ant dispose d&acute;une proc&eacute;dure de r&egrave;glement des r&eacute;clamations, qui est publi&eacute;e de mani&egrave;re suffisante, et traite toute r&eacute;clamation conform&eacute;ment &agrave; ladite proc&eacute;dure.</li>
                <li>Les r&eacute;clamations portant sur l&acute;ex&eacute;cution du contrat doivent &ecirc;tre pr&eacute;sent&eacute;es au commer&ccedil;ant dans un d&eacute;lai appropri&eacute; et &ecirc;tre d&eacute;crites enti&egrave;rement et clairement, une fois que le consommateur a constat&eacute; les d&eacute;fauts.</li>
                <li>Les r&eacute;clamations communiqu&eacute;es au commer&ccedil;ant recevront une r&eacute;ponse dans les meilleurs d&eacute;lais et au plus tard dans un d&eacute;lai de 14 jours &agrave; compter de la date de r&eacute;ception. Si une r&eacute;clamation exige un d&eacute;lai de traitement plus long que pr&eacute;vu, le commer&ccedil;ant adressera une r&eacute;ponse dans un d&eacute;lai de 14 jours en accusant r&eacute;ception et en donnant une indication du moment auquel le consommateur pourra escompter une r&eacute;ponse plus d&eacute;taill&eacute;<em>.</em></li>
                <li>Une r&eacute;clamation concernant un produit ou un service du commer&ccedil;ant peut &eacute;galement &ecirc;tre introduite, par le biais d&rsquo;un formulaire de r&eacute;clamation sur la page des consommateurs sur le site web de BeCommerce. www.BeCommerce.be&nbsp;.&nbsp;La r&eacute;clamation est envoy&eacute;e tant au commer&ccedil;ant concern&eacute; qu&rsquo;&agrave; BeCommerce.</li>
                <li>Si la r&eacute;clamation ne peut &ecirc;tre solutionn&eacute;e d&rsquo;un commun accord, il en r&eacute;sulte un litige qui est susceptible de faire l&rsquo;objet du r&egrave;glement des litiges.</li>
            </ol>
            <h2><strong>Article&nbsp;</strong><strong>1</strong><strong>5 - Litiges</strong></h2>
            <ol>
                <li>Les contrats, conclus entre le commer&ccedil;ant et le consommateur, auxquels se rapportent les pr&eacute;sentes conditions g&eacute;n&eacute;rales, sont r&eacute;gis exclusivement par le droit belge.</li>
                <li>Les litiges entre le consommateur et le commer&ccedil;ant sur la formation ou l&rsquo;ex&eacute;cution des contrats concernant les produits et services &agrave; fournir ou fournis peuvent, dans le respect des dispositions mentionn&eacute;es ci-apr&egrave;s, &ecirc;tre soumis au comit&eacute; de surveillance de BeCommerce, tant par le consommateur que par le commer&ccedil;ant.</li>
                <li>Un litige ne sera examin&eacute; par le comit&eacute; de surveillance que si le consommateur a d&rsquo;abord soumis sa r&eacute;clamation au commer&ccedil;ant dans un d&eacute;lai appropri&eacute;.</li>
                <li>Ce litige doit &ecirc;tre soumis par &eacute;crit au comit&eacute; de surveillance au plus tard trois mois apr&egrave;s l&rsquo;apparition du litige.</li>
                <li>Lorsque le consommateur souhaite soumettre un litige au comit&eacute; de surveillance, le commer&ccedil;ant est li&eacute; &agrave; ce choix. Lorsque le commer&ccedil;ant souhaite le faire, le consommateur devra, dans un d&eacute;lai de cinq semaines apr&egrave;s qu&rsquo;une demande &agrave; cet effet a &eacute;t&eacute; faite par le commer&ccedil;ant, d&eacute;clarer &agrave; cet &eacute;gard par &eacute;crit s&rsquo;il le souhaite &eacute;galement ou s&rsquo;il souhaite faire examiner le litige par le tribunal comp&eacute;tent en la mati&egrave;re. Si le commer&ccedil;ant n&rsquo;est pas inform&eacute; du choix du consommateur dans un d&eacute;lai de cinq semaines, il est alors habilit&eacute; &agrave; soumettre le litige devant le tribunal comp&eacute;tent.</li>
                <li>Le comit&eacute; de surveillance se prononce selon les conditions telles qu&rsquo;&eacute;tablies dans le r&egrave;glement du comit&eacute; de surveillance. Les d&eacute;cisions du comit&eacute; de surveillance sont rendues sous forme d&rsquo;avis contraignants.</li>
                <li>Le comit&eacute; de surveillance ne traitera pas un litige ou arr&ecirc;tera le traitement du litige si un sursis de paiement a &eacute;t&eacute; accord&eacute; au commer&ccedil;ant, si celui-ci est en &eacute;tat de faillite ou s&rsquo;il a mis fin aux activit&eacute;s de son entreprise dans les faits, avant qu&rsquo;un litige n&rsquo;ait &eacute;t&eacute; trait&eacute; par le comit&eacute; s&eacute;ance et qu&rsquo;un jugement final ait &eacute;t&eacute; rendu.</li>
            </ol>
            <h2><strong>Article&nbsp;</strong><strong>1</strong><strong>6 &ndash; Garantie de solidarit&eacute; professionnelle</strong></h2>
            <ol>
                <li>BeCommerce reprendra, avec la diligence appropri&eacute;e, les obligations du commer&ccedil;ant &agrave; l&rsquo;&eacute;gard du consommateur, en ce qui concerne un avis contraignant qui lui aura &eacute;t&eacute; soumis par le comit&eacute; de surveillance de BeCommerce, si ce commer&ccedil;ant n&rsquo;a pas respect&eacute; ses obligations dans le d&eacute;lai prescrit dans l&rsquo;avis contraignant. La reprise par BeCommerce des obligations de l&rsquo;entreprise est suspendue si, et dans la mesure o&ugrave; cet avis contraignant fait l&rsquo;objet d&rsquo;un contr&ocirc;le juridictionnel dans un d&eacute;lai de deux mois apr&egrave;s la date o&ugrave; il a &eacute;t&eacute; rendu conform&eacute;ment au r&egrave;glement du comit&eacute; de surveillance, et expire lorsque le jugement du tribunal d&eacute;clarant que l&rsquo;avis contraignant est d&eacute;pourvu d&rsquo;effets acquiert force de chose jug&eacute;e.</li>
                <li>Pour l&rsquo;application de la pr&eacute;sente garantie, il est exig&eacute; que le consommateur adresse un recours &eacute;crit &agrave; BeCommerce et qu&rsquo;il transf&egrave;re sa cr&eacute;ance &agrave; BeCommerce.&nbsp;</li>
            </ol>
            <h2><strong>Article&nbsp;</strong><strong>1</strong><strong>7 &ndash; Dispositions compl&eacute;mentaires ou d&eacute;rogatoires</strong></h2>
            <p>Les dispositions compl&eacute;mentaires ou d&eacute;rogatoires aux pr&eacute;sentes conditions g&eacute;n&eacute;rales ne peuvent s&rsquo;appliquer au d&eacute;triment du consommateur et doivent &ecirc;tre &eacute;tablies par &eacute;crit ou de telle sorte qu&acute;elles pourront &ecirc;tre accessibles au consommateur et &ecirc;tre stock&eacute;es sur un support d&acute;informations durable.&nbsp;</p>
            <h2><strong>Article&nbsp;</strong><strong>1</strong><strong>8 &ndash; Modification des conditions g&eacute;n&eacute;rales de BeCommerce</strong></h2>
            <ol>
                <li>Les modifications apport&eacute;es aux pr&eacute;sentes conditions n&rsquo;entrent en vigueur qu&rsquo;apr&egrave;s avoir &eacute;t&eacute; publi&eacute;es selon les modalit&eacute;s appropri&eacute;es, &eacute;tant entendu que dans le cas de modifications applicables pendant la dur&eacute;e de l&rsquo;offre, les dispositions les plus favorables au consommateur pr&eacute;vaudront.</li>
            </ol>
            <div>
                <h2>Article 19 -&nbsp;Vol d&rsquo;identit&eacute; et fraude &agrave; la carte de cr&eacute;dit</h2>
                <ol>
                    <li>Vol d&rsquo;identit&eacute; et fraude &agrave; la carte de cr&eacute;dit, pour garantir le s&eacute;curit&eacute; de votre visite en ligne, BeCommerce travaille exclusivement avec des partenaires de s&eacute;curit&eacute; en ligne reconnus. La perte o&ugrave; le vol de donn&eacute;es d&rsquo;identit&eacute; sont ainsi r&eacute;duit au minimum. Be-&shy;‐commerce prend toutes les pr&eacute;cautions possibles et agit ainsi en tant que interm&eacute;diaire en ligne prenant toutes les pr&eacute;cautions n&eacute;cessaires tel une personne pr&eacute;voyante. Le vol de donn&eacute;es d&rsquo;identit&eacute; o&ugrave; le vol financier ne peut donc &ecirc;tre &eacute;voqu&eacute; &agrave; l&rsquo;insu de BeCommerce.&nbsp;</li>
                </ol></div>
            <h2><strong>A</strong><strong>d</strong><strong>resse de BeCommerce&nbsp;: </strong></h2>
            <p>C/o Co.Station<br />5, Place Sainte-Gudule<br />1000 Bruxelles<br />Belgique</p>
            <p><em>&copy; 2012 BeCommerce (http://www.becommerce.be). Le droit d&rsquo;auteur est en vigueur sur l&rsquo;information fourni (conditions g&eacute;n&eacute;rales, la d&eacute;claration de confidentialit&eacute;), de sorte que l'information ne peut &ecirc;tre reproduite ou transmise sans l'autorisation pr&eacute;alable &eacute;crite de BeCommerce (info@becommerce.be). Toutes les lois de propri&eacute;t&eacute; intellectuelles restent intactes.&nbsp;</em></p>

            </article>

        </div>
    </body>
</html>

{% endblock %}
{% block footer %}
    <footer style="background-color: #931969; width: 100%; color: white; padding: 15px 0; margin-top: 300px; bottom: 0">
        <p>&copy;Pré de chez vous</p>
        <p>Contact: <a href="mailto:pdcv@gmail.com" style="color:lightgray;">pdcv@gmail.com</a> / <a href="{{ path('condition') }}" style="color:lightgray;">Conditions générales</a> </p>
    </footer>
{% endblock %}