{% extends 'base.html.twig' %}

{% block body %}
<html>
    <body>
    <div style="width: 500px; margin-bottom: 100px; margin-top: 50px; margin-left: 34%; border: 1px solid lightgray; border-radius: 3px; box-shadow: 3px 3px 3px lightgray; padding: 10px;">
        <h1>Formulaire de contact</h1>

        <div style="font-size: 20px; margin-top: 6 0px;">
            <div style="margin-bottom: 30px;">Adresse du site:</div>
            <div>Rue Sans souci, 32</div>
            <div>1060 Ixelles</div>
            <div>Belgique</div>
            <p> <a href="mailto:pdcv@gmail.com" style="color:#931969; font-family: 'DIN Alternate';"><p style="padding: 0; margin: 0">Envoyer un mail</p><p style="padding: 0; margin: 0">pdcv@gmail.com</p></a>.</p>
        </div>
    </div>



    </body>
</html>

{% endblock %}
{% block footer %}
    <footer style="background-color: #931969; width: 100%; color: white; padding: 15px 0; margin-top: 300px; bottom: 0">
        <p>&copy;Pré de chez vous</p>
        <p>Contact: <a href="mailto:pdcv@gmail.com" style="color:lightgray;">pdcv@gmail.com</a> / <a href="{{ path('condition') }}" style="color:lightgray;">Conditions générales</a> </p>
    </footer>
{% endblock %}
