{% extends 'base.html.twig' %}

{% block body %}
<html>
    <head>
        <style>

            .formulaire{
                background-color: white;
                margin: 50px 50px 100px 40%;
                width: 150px;
            }

            .form input{
                width: 300px;
                margin : 6px 5px;
                font-size: 20px;
                padding: 3px 3px;
                border: none;
                background-color: #fff;
                border-bottom: 1px solid #eee;
            }

            .form textarea{
                width: 300px;
                margin : 4px 5px;
                font-size: 20px;
                padding: 2px 3px;
                border: none;
                background-color: #fff;
                border-bottom: 1px solid #eee;
            }

            .form label{
                display: block;
                text-align: left;
                color: #bbb;
            }

            .form button{
                background-color: #931969;
                color: white;
                border-radius: 3px;
                border: none;
                padding: 3px 5px;
                margin: 5px;
                margin-left: 123px;
            }


        </style>
    </head>
    <body id="body">



    {% if not is_granted("ROLE_VENDEUR") %}
        <h1>Création du profil vendeur </h1>
        <div class="formulaire">


            {{ form(form, { 'attr': {'class': 'form'} }) }}

        </div>

      <!--  <div class="map" id="map" style="width: 550px; height:350px; background-color:grey;"></div>
        -->
    {% else %}


        <p>Vous êtes déjà vendeur.</p>
        <a href="{{ path('vendeur') }}">Votre profil</a>
    {% endif %}





    <script>
        $('.form input').click(function () {
            $(this).val('');
        });

        $('.form textarea').click(function () {
            $(this).val('');
        });






        //ajouter coords Lat et Long en fonction de l'adresse



        function initMap() {

            //var latitude = 50.484843;
            //var longitude = 4.537122;

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12
            });


            map.setCenter(new google.maps.LatLng(latitude, longitude));
            new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(latitude, longitude)
            });


        }

            $('#form_save').click(function () {
                //$('#form_latitude').val(latitude);
                //$('#form_longitude').val(longitude);

                var adresseBoutique = document.getElementById('form_adresseBoutique').value;
                var adresseCP = document.getElementById('form_codePostal').value;
                var adresseVille = document.getElementById('form_ville').value;
                var adressePays = document.getElementById('form_pays').value;

                var adresse = adresseBoutique+' '+adresseCP+' '+adresseVille+' '+adressePays;

                //var address = document.getElementById('address').value;

                var geocoder = new google.maps.Geocoder();


                geocoder.geocode( { 'address': adresse}, function(results, status){


                    if(status =='OK'){

                        var latLong = results[0].geometry.location;
                        latitude = latLong.lat();
                        longitude = latLong.lng();

                        $('#form_latitude').val(latitude);
                        $('#form_longitude').val(longitude);


                    } else {
                        alert('Erreur, impossible de geocoder car: ' + status);
                    }
                });



            });











</script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2eQqOq9LagnwlJFYKCFbpfbKEtZugOBs&callback=initMap"></script>




    </body>
</html>

{% endblock %}
{% block footer %}
    <footer style="background-color: #931969; width: 100%; color: white; padding: 15px 0; margin-top: 300px; bottom: 0">
        <p>&copy;Pré de chez vous</p>
        <p>Contact: <a href="mailto:pdcv@gmail.com" style="color:lightgray;">pdcv@gmail.com</a> / <a href="{{ path('condition') }}" style="color:lightgray;">Conditions générales</a> </p>
    </footer>
{% endblock %}