{% extends 'base.html.twig' %}

{% block body %}
<html>
    <body>

        <div class="explication">
            <h1>Pourquoi s'inscrire sur Pré de chez vous?</h1>
        </div>
        <div class="producteursListe"></div>

    </body>
</html>

{% endblock %}