* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DINbek Light";
}

a{
    color: #931969;
}

a:hover{
    color: #931969;
}

li{
    list-style: none;
}

button, select{
    background-color: white;

}


/**
*               base.html.twig
 */

.btnConn{
    text-align: right;
    margin: 20px;
    display: inline-block;
}

.btn-primary, .btn-primary:hover{
    background-color: #931969;
    border: none;
}

.btn-primary:active{
    background-color: #931969;
    border: none;
}



.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #931969;
    border: none;
}

.connPanier{
    text-align: right;
    margin: -19px 15px 0 0;
    position: absolute;
    right: 0;
}

.connPanier img{
    height: 90px;
}

.nav-item{
    font-size: 20px;
}

#mySidebar{
    position: absolute;
    z-index: 1;
    top: 0;
    padding-bottom: 35px;
}

button.btnClose{
    text-align: right;
}

input.inputPanier{
    background-color: #eeeeee;
}


.contentNavPanier{
    width: 100%;
}

/**
*              Accueil
 */


.explication{
    display: inline-block;
    top: 0;
}

.explicationTitre{
    text-align: left;
    margin: 35px 39px;
}

.col-1-expl, .col-2-expl, .col-3-expl{
    display: inline-block;
    width: 30%;
    margin: 0 10px;
    vertical-align: top;
    max-width: 380px;
    padding: 15px 35px 45px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

hr{
    width: 50%;
    margin-top: 50px;
    text-align: center;
    border-color: lightgrey;
}

.producteursListe{
    margin: 100px 0;
}


/**
*           PRODUITS
 */

input[type=number]{
    width: 47px;
    height: 35px;
    line-height: 1.65;
    padding-left: 4px;
    border: 1px solid #eee;
    margin-left: 5px;
}

.sliderDistance{
    width: 200px;
    text-align: center;
    margin-left: 43%;
}

.filtreTri{
    text-align: left;
    margin-left: 140px;
}

.filtreProduit{
    display: none;
}

.filtre{
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 5px;

}

.filtreBio{
    margin-left: 80px;
}

.triBtn{
    background-color: white;
    color: #931969;
    border: 1px solid #931969;
}

.triBtn:active{
    background-color: #991999;
}


/**
*              PRODUCTEURS
 */

.producteur{
    margin: 20px 130px;
    display: inline-block;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 3px;
}

.producteur:hover{
    border: 1px solid #931969;

}

.imgProducteur {
    overflow: hidden;
    text-align: right;
    height: 340px;
}

.imgProducteur img{
    width: 350px;
    overflow: hidden;
    vertical-align: middle;
}

.detailProducteur{
    text-align: left;
}

.nomFerme a{
    font-family: "DIN Alternate";
    font-size: 30px;
}

.rueFerme{
    color: #ccc;
    margin-top: -7px;
    margin-bottom: 10px;
}

.descriptionFerme{
    width: 580px;
}

.containerFerme{
    margin-left: 170px;
}

.list-group-item{
    width: 200px;
    text-align: center;
}

.btnFermeDiv{
    text-align: right;
}

.btnFerme{
    color: white;
    background-color: #931969;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;

}

.btnFerme a{
    color: white;
}

.btnFerme a:hover{
    text-decoration: none;
}

.btnFerme:hover{
    background-color: #CC0066;
}


/**
*              FOSUserBundle -- LOGIN
 */

.wrapper{
    margin: 80px 0;
}

.form-signin{
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading,
.checkbox{
    margin-bottom: 30px;
}

.checkbox{
    font-weight: normal;
}

.form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"]{
    margin-bottom: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.loginBtn{
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    color: #FFF;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    text-indent: 10%;
    margin-left: 0;
    margin-right: 0;
}

.loginBtn:before{
    content:"";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus{
    outline: none;
}

.loginBtn:active{
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
    width: 13%;
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 9px 9px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


/**              FOSUserBundle -- SHOW          */

.profile-container{
    margin: 70px;
}

.profile{
    margin: 40px;
}

.editBtn{
    display: none;
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 3px 20px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    color: #FFF;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    text-indent: 10%;
    margin-left: 0;
    margin-right: 0;
}

.editBtn:before{
    content:"";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.editBtn:focus{
    outline: none;
}

.editBtn:active{
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.produitAll:hover .editBtn {
    display: inline-block;
}

.quantite{
    display: none;
}

.produitAll:hover .quantite {
    display: inline-block;
}


/*        CONTENT PRODUITS      */

.bodyProduit{
    margin: 50px 0;
}

.titreProduit{
    margin-top: 40px;
}

.produitAll{
    margin: 70px 0;
    height: 280px;
}



/*        CONTENT VENDEUR ADMIN      */

.admin{
    width: 100%;
    display: inline-block;

}

.menuAdmin{
    width: 13%;
    height: 150%;
    background-color: #931961;
    display: inline-block;
    padding: 0;
}

.menuAdmin li{
    text-align: center;
    padding: 20px 4px;
}

.menuAdmin li:hover{
    background-color: #CC0066;
    border-left: 3px solid #218838;
}




.menuAdmin a{
    color: white;

}

.adminLogo{
    background-color: white;
    text-align: center;
    border-radius: 200px;
    padding: 20px 16px;
    margin: 20px;
}

.col-vendeur{
    display: inline-block;
    vertical-align: top;
    width: 86.6%;
}

.headerMenu{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 65px;
    box-shadow: 2px -10px 35px grey;
    padding: 15px 20px;
    text-align: right;
}



.contentAdmin{
    padding: 50px 70px;
}




/*       ADMIN -- MES PRODUITS          */

.mesProduits{
    display:inline-block;
    width: 300px;
    border: 1px solid #eee;
    border-radius: 3px;
    height: 390px;
    text-align: center;
    padding: 10px;
    margin: 20px 10px;
    box-shadow: 2px 10px 35px #eee;

}

.mesProduits:hover{
    border: 1px solid #931969;
}


/*       ADMIN -- INFOS          */


.infos1{
    display: inline-block;
    width: 49.9%;
    vertical-align: top;
    padding: 5px;
}

.infos2{
    display: inline-block;
    width: 100px;
    vertical-align: top;
    padding: 5px;
    margin-right: 25px;
}

.detailInfo{
    color: #ccc;
    font-size: 18px;
    margin-bottom: 20px;
}

.rueInfo, .paysInfo, .villeInfo{
    width: 140px;

}






/*        PANIER      */

.infoBoutique{
    width: 100%;
    vertical-align: top;
    margin-top: 110px;
}

.col-1-boutique{
    display: inline-block;
    margin-left: 110px;
    vertical-align: top;

}

.col-2-boutique{
    display: inline-block;
    width: 49%;
    text-align: left;
    padding-left: 30px;
    vertical-align: top;

}

img.imgBoutique{
    width: 500px;
}

h1.nomBoutique{
    margin-bottom: 10px;
}

.distanceBoutique{
    color: #bbb;
    margin-bottom: 25px;

}

.descriptionBoutique{
    width: 90%;
}

h3.produitBoutique{
    margin-top: 100px;
}

/*        PANIER      */



.table td{
    vertical-align: middle;
}

.panierBtn{
    padding: 7px 10px;
    border-radius: 3px;
    display: inline-block;
}

.btnPanier{
    text-align: right;
    margin: 70px 155px;

}

.btnAchat, .btnPaiement{
    margin: 10px 0;
}

.totauxPanier{
    margin: 70px 155px;

}


/*        STRIPE      */


.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}


/*                  PAIEMENT    */


.rond{
    border: 1px solid lightgrey;
    border-radius: 23px;
    display: inline-block;
    font-size: 23px;
    padding: 5px 15px;
    color: lightgrey;
}

.rondActif{
    border: 1.5px solid #931969;
    color: #931969;
}

.bar{
    height: 1px;
    background-color: lightgrey;
    display: inline-block;
    width: 170px;
    vertical-align: middle;
}

.barActive{
    background-color: #931969;

}

.rondActif:hover{
    color: white;
    background-color: #931969;
}




.adresse_paiement{
    width: 300px;
    height: 250px;
    text-align: left;
    display: inline-block;
    margin: 100px 100px 200px 100px;
    font-size: 17px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 50px 40px 35px 30px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #ddd;

}

.adresse_paiement:hover{
    border: 1px solid #931969;
    box-shadow: 7px 3px 20px #ddd;

}

.adresse_paiement:hover .adresse_paiement{
    color: #931969;
}



.adresse_paiement a{
    color: grey;
    text-decoration: none;
}

.adressePaiement{
    margin-left: 15px;
}

.nvelle_adresse_paiement{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin: 100px 100px 200px 100px;
    font-size: 17px;

    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 25px 50px 55px 50px;
}

.nvelle_adresse_paiement input{
    border: 1px solid #eee;
    border-radius: 3px;
    margin-left: 15px;
    padding: 2px 5px;
    color: #eee;
}

.nvelleRue{
    display: block;
    vertical-align: top;
    margin: 5px;
    color: #eee;
}

.livraison{
    width: 300px;
    height: 270px;
    display: inline-block;
    margin: 50px 80px 200px 80px;
    font-size: 17px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 30px 40px 35px 30px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #ddd;
    vertical-align: top;
}

.livraison img{
    margin-top: 20px;
}

.livraison a{
    text-decoration: none;
}

.livraison:hover{
    border: 1px solid #931969;
    box-shadow: 7px 3px 20px #ddd;

}


/*        Devenir vendeur      */

.devenirVendeur{
    display: inline-block;
    vertical-align: top;
    width:45%;
    margin: 40px 10px 100px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    height: 300px;
    padding-top: 25px;
}

.devenirVendeur:hover{
    border: 1.5px solid #931969;
    cursor: pointer;
    font-family: "DIN Alternate";
    box-shadow: 7px 3px 20px #ddd;
}

.devenirVendeur:hover .devenirVendeur p{
    font-family: "DIN Alternate";

}

a.devenirVendeur{
    text-decoration: none;
    color: black;
}

a.devenirVendeur:hover{
    text-decoration: none;
    color: #931969;
}



/*         PAGINATION      */

.pagination{
    margin: 100px 0;
}


.page, .last, .next, .current, .previous, .first{
    border: 1px solid #931969;
    padding: 8px 10px;
    margin: 0;
    color: #931969;
    vertical-align: middle;
}

.first{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.last{
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

/*
.page a:hover, .next a:hover, .last a:hover, .current:hover, .first a:hover, .previous a:hover{
    background-color: #931969;
    color: white;

}

*/
.page:hover .page, .next:hover , .last:hover, .first:hover, .previous:hover{
    background-color: #931969;
}

.page:hover .page a, .next:hover , .last:hover, .first:hover, .previous:hover{
    color: white;
}

.current{
    background-color: #931969;
    color: white;
    font-size: 17px;
}

/*         footer      */


.footer{
    height: 50px;
    background-color: #931969;
    color: white;
    padding: 14px;
}