{% trans_default_domain 'FOSUserBundle' %}
{% extends "::base.html.twig" %}
{% block stylesheets %}
    {# On charge le css qui se trouvent dans base.html.twig #}
    {{ parent() }}
{% endblock %}


{% block fos_user_content %}
    <div class="profile-container">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
    </div>
{% endblock fos_user_content %}
