{% extends 'CRShopBundle:Vendeur:menuvendeur.html.twig' %}

{% block vendeur %}
    <h1>Mes produits</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}