{% extends 'CRShopBundle:Vendeur:menuvendeur.html.twig' %}

{% block vendeur %}

        <h5 class="titreVendeur">Mes commentaires et votes</h5>

    {% for comment in comments %}
        <div class="formulaireComment">
        <div class="comment" style="margin:25px 0;padding: 20px 15px 25px 15px; width: 450px; background-color: #fefefe; box-shadow: 3px 4px 16px #ddd; border-radius: 3px;">
            <div class="produitComment" style="text-align: right; padding-right: 20px; color: #ccc"><a href="/TFE/web/app_dev.php/vendeur">Pomme</a> </div>
            <div class="nomComment" style="font-size: 19px"><b>Julie</b></div>
            <div class="nomComment" style="margin-top: 10px">{{ comment.commentaire }}</div>
            <div class="btnComment" style="text-align: right">
                <div class="supprimerComment" style="padding: 3px; color: #931969; margin-top: 10px; display: inline-block;"><i class="far fa-trash-alt"></i></div>
                <div class="repondreComment" style="padding: 3px; color: #931969; margin-top: 10px; display: inline-block;"><i class="fas fa-reply"></i></div>
            </div>
        </div>
    {% endfor %}

    </div>








{% endblock %}