{% extends 'CRShopBundle:Vendeur:menuvendeur.html.twig' %}

{% block vendeur %}
    <div style="text-align: center; margin-top: 100px;">
        <div>
            <a href="/TFE/web/app_dev.php/"><img src="{{ asset('directory/img/logo.png') }}" style="width: 90px; margin-bottom: 50px;"></a>

            <h4>Vous n'avez pas accès à la page reservé aux vendeurs.</h4>
        </div>
        <div><b><a href="/TFE/web/app_dev.php/">Retour à l'accueil</a></div>
        <div><a href="/TFE/web/app_dev.php/devenirvendeur">Devenir vendeur</a></b></div>
    </div>





{% endblock %}